.collapsible
{
    display: none;
    margin-left: 30px;
}
.preClinicalSubitem
{
    display: none;
}
.level2
{
    margin-left: 30px;   
}
li{
    width:100%;
}
ul{
    width:100%;
    font-size: medium;
}
nav{
    width:100%;
    
}

