
@media only screen and (min-width: 769px) {
  .msgs{

    margin-left: 240;
    max-width:300px;
    background-color: #fffcb7;
    color:black;
  }
  .container{
    display:flex;
    flex-flow:row wrap;
    width:80%;
    margin:auto;
    min-height:70vh;
    padding:2px;
    border-radius:10px;
  }

}


@media only screen and (max-width: 768px) {
  .msgs{
    max-width:90%;
    background-color: #fffcb7;
    color:black;
  }

  .container{
    display:flex;
    flex-flow:row wrap;
    width:100%;
    margin:auto;
    min-height:70vh;
    padding:2px;
    border-radius:10px;
  }


}

span{overflow-wrap:break-word;}
