@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
/*body font size and family*/
*
{
    font-size: 14px;
    color:#2a2a2a;
    font-family: 'Roboto',sans-serif;
    font-size :14px;
    font-weight: 400;
}
section.New_Department
{
    margin:2px;
    position:relative;

}
nav.side_navigation{

    margin-top:14px;
    background-color: #fff;
}
/*for roboto light weight=300*/
#article_heading
{
    font-size: 30px;
    font-weight: 300;
}
#article_body
{
    margin-left:10px;
}
nav ul.sidenav_list
{
    width:100%;
    background-color: white;

}
nav ul.sidenav_list li a{

    font-size: 16px;

}
nav ul.sidenav_list li a.active
{
    background-color: #003a9b;
    color:white;
}
