@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

#homepage_dept_body
{
    color:#2a2a2a;
    background-color: #eeeeee;
    font-family: 'Roboto',sans-serif;
    font-size:16px;
    font-weight: 400;

}
div#setMargin
{
    position: relative;
    margin-left:10px;
    margin-right:10px;
}
div#pageTitle
{
    position: relative;
    line-height: 100px;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Roboto',sans-serif;

}
div.strips
{
    background-color:#ffffff;
    margin-bottom: 6px;
    padding-left: 15px;
    border: #eee 1px solid;
    border-radius: 4px;
    font-family: 'Roboto',sans-serif;
    font-size:16px;

}
div.content
{
    line-height: 40px;
    padding-bottom: 30px;
}
img.arrow
{
   position: static;
   padding-top: 10px;
   padding-right:10px;
   float:right;

}

