
@media only screen and (max-width:768px){

	 .burger{
				display:block;
				padding:10px;
			}
		.mysidenavbar{
			display:none;
		}
}
@media only screen and (min-width:769px){

			.burger{
				display:none;
			}
		.mysidenavbar{
			display:inline;
		}
}

td{white-space: pre-wrap;}
p{white-space: pre-wrap;}
