
@media (max-width: 769px)
{
  nav ul li
  {
    margin-top:0px;
  }
  .burger
  {
    display: block;
  }
  .sidenav_list
  {
    display: none;
  }
}

@media only screen and (min-width:769px){
.burger
{
  display: none;
}
.sidenav_list
{
  display: flex;
}

}
td{white-space: pre-wrap;}
p{white-space: pre-wrap;}
